<div class="row navbar" style="background-color: red; color: white;">
	<div class="left col-md-6">
		<p>HOMETASTE</p>
	</div>
	<div class="right col-md-6 ">
		<div class="col-md-2">
			<%= link_to "Help","" %>
		</div>
		<div class="col-md-4">
			<%= link_to "Become a chef","" %>
		</div>
		<div class="col-md-2">
			<%= link_to "Log in","" %>
		</div>
		<div class="col-md-2">
			<%= link_to "Sign up","" %>
		</div>
	</div>
</div>