.ui.modal#login_modal,.ui.modal#sign_up_modal,.ui.modal#auth_link_modal{
  width: 300px;
  text-align: center;
  @extend .background_red;
  @extend .border_main_radius;
  @extend .white;
  bottom:inherit;
  left: 50%;
  margin:0 0 0 -150px ;
  padding:0 15px 20px;
  input{
    height: 40px;
  }
  input[type='submit']{
    @extend .border_main_radius;
    border:1px solid #FFFFFF;
    font-weight:bold;
    padding:0px 25px;
    margin-top: 15px;
  }
  span{
    text-align: left;
  }
  .content{
    background-color: transparent;
  }
  .close.icon{
    top: 10px;
    right: 10px;
    opacity: 1;
    @extend .white;
  }
  a[name='forgot_password']{
    text-align: right;
    display: inherit;
  }
  a{
    @extend .white;
  }
  span[name="term"]{
    display: inherit;
    a{
      text-decoration: underline;
    }
  }
  .outh_logo{
    p{
      margin-left: 35px;
      text-align: left;
    }
    i{
      margin:0 20px;
    }
  }
}
.ui.modal#auth_link_modal{
  padding: 40px 0;
  button{
    @extend .border_main_radius;
    border:1px solid white;
    height: 60px;
    font-size: 20px;
  }
  .login{
    width: 200px;
  }
  .sign_up{
    width: 240px;
  }
}
