.img_upload{
  margin: 0 auto;
  overflow: hidden;
  .remove_img:hover,.img_removed{
    @extend .background_red;
    @extend .white;
    @extend .cursor_pointer;
  }
  label:not(.remove_img){
    margin: auto;
    width: 260px;
    height: 260px;
    background-color: #D8D8D8;
    @extend .background_img_setting;
    @extend .flex_center;
    @extend .flex-direction_column;
    @extend .cursor_pointer;
    @extend .tac;
    @extend .border_main_radius;
    transition: all 0.5s ease;
    i{
      margin: 0;
    }
    .fa-pencil{
      display: none;
    }
    &.hover{
      h4,i{
        display: none;
      }
    }
    &.hover:hover{
      opacity: 0.9;
      h4,i{
        display: block;
      }
    }
  }
}
.img_upload.pen_click{
  label{
    cursor: default;
    @include justice-content(flex-end);
    @include align-items(flex-end);
    .fa-pencil{
      @extend .cursor_pointer;
      @include border-radius(50%);
      font-size: 26px;
      margin: 15px;
      display: block;
      background-color: rgba(255,255,255,0.6);
      padding: 8px 10px;
    }
    &.hover{
      .fa-pencil{
        display: block;
      }
    }
    &.hover:hover{
      .photo_icon,h4{
        display: none;
      }
    }
    .photo_icon ,h4 {
      display: none;
    }
  }
}
