<div class="df chef_product_lists">
  <div class="background_img_setting" style="background-image: url(<%= image_path 'tmp/kitchen.png' %>);">
  </div>
  <div class="vertical_space_around">
    <h6 class="mtb0 ml20 bold"><%= ship.food.name %></h6>
    <h6 class="ml20"><span>$<%= ship.food.price%></span></h6>
    <h6 class="mtb0 ml20">Qty: <%= ship.quantity.to_i %></h6>
  </div>
</div>
