<h1 class="pt20 pb10 bold ml30">About</h1>
<h4 class="prl30 mb30 normal">Mr.Chan’s Kitchen is an Asian cuisine restaurant that makes authentic Chinese food with fresh and local ingredients. </h4>
<div class="four_btn mb25 mb0_sm">
  <a href="<%= sales_chef_path %>" class="my_btn_reserve border_none_radius">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <p>My Sales</p>
  </a>
  <a href="<%= rating_chef_path %>" class="my_btn_reserve border_none_radius">
    <i class="fa fa-star" aria-hidden="true"></i>
    <p>My Rating</p>
  </a>
  <a href="<%= menu_chef_path %>" class="my_btn_reserve border_none_radius">
    <i class="fa fa-comment" aria-hidden="true"></i>
    <p>My Message</p>
  </a>
  <a href="<%= business_chef_path %>" class="my_btn_reserve border_none_radius">
    <i class="business_icon_red" aria-hidden="true"></i>
    <i class="business_icon_white hidden" aria-hidden="true"></i>
    <p>Business Summary</p>
  </a>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    var btn = $('a.my_btn_reserve[href*="' + location.pathname.split('/')[3] + '"]')
    btn.toggleClass('my_btn_reserve').toggleClass('my_btn');
    btn.find('[class^=business]').toggleClass('hidden')

  })
</script>