<div class="container chef-container center">
	<div class="row col-md-offset-1">
		<h3>
			<%=link_to "HOME", root_path%><span> > <%=params[:action]%></span>
		</h3>
	</div>
	<div class="row">
		<%= form_for setup_chef(@chef), :url => chef_path(@chef) do |f| %>

			<%= render :partial => 'form', :locals => { :f => f } %>

		<% end %>
	</div>
</div>


<script>

</script>




