<div class="black_border_block mrl5_sm mrl25_md users_big_bun">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="flex_wrap my_purchase_lists">
        <div class="col-md-3 col-sm-5 col-xs-8 col-sm-offset-0 col-xs-offset-2 background_img_setting" style="background-image: url(<%= image_path 'tmp/kitchen.png' %>);">
        </div>
        <div class="col-md-6 col-sm-7 col-xs-8 col-sm-offset-0 col-xs-offset-2 vertical_space_around">
          <h4 class="ml20_sm mt20"><%= @chef.restaurant.name%></h4>
          <h4 class="ml20_sm mt20 mt0_sm bold">Egg Drop Soup</h4>
          <h4 class="ml20_sm mt20">Code: 12345</h4>
        </div>
        <div class="col-md-3 col-xs-12 tac mt30 mt0_md">
          <a class="my_btn_reserve mrla mrl15_sm mrl0_md db dib_sm">Redeem now</a>
          <a class="my_btn_reserve mt30_xs mt0_sm mt40_md mrl15_sm mrl0_md ">Send as gift</a>
        </div>
      </div>

    </div>
  </div>
</div>