<% @orders.each do |order|%>
    <div class="black_border_block mt25_sm mrl5_sm mrl25_md">

      <%= render 'order_list',order:order %>

      <div class="row">
        <div class="col-xs-12">
          <i class="gray_line  mtb25"></i>
        </div>
        <div class="col-sm-12 col-xs-12 tac tan_sm">
          <h3 class="red tar_sm tac_xs">Cancelled at <span class="db di_sm mt10"> <%= order.updated_at.strftime('%Y/%m/%d %H:%M') %></span></h3>
        </div>
      </div>

    </div>
<%end%>