<div class="black_border_block mt25_sm mrl5_sm mrl25_md">
  <% @orders.each do |order|%>
    <div class="row">
      <h3 class="bold ml15"><%= order.restaurant.name %></h3>

      <% order.order_food_ships.each do |ship| %>
          <div class="col-xs-12 mt30">
            <%= render 'product_list', :ship => ship %>
          </div>
      <% end %>

      <div class="col-xs-12 mt20">
        <h3 class="tar bold">Total Payment : $<%= order.amount %></h3>
      </div>
      <div class="col-xs-12">
        <i class="gray_line  mtb25"></i>
      </div>
      <div class="col-sm-12 col-xs-12 tac tan_sm">
        <h3 class="red tal">Confirmation Number: <span class="db di_sm mt10"> #<%= order.confirmation_number %></span></h3>
      </div>
    </div>
  <%end%>
</div>