<div class="container">
  <div class="row">
    <section class="col-xs-12 basic_bg_top prl15_sm prl30_md">
      <%= render 'user_banner' %>
    </section>
    <section class="col-xs-12 basic_bg prl15_sm prl30_md">
      <div class="row">

        <div class="col-xs-12 four_btn prl35_md mb25 mb0_sm">
          <%= render 'paid_button' %>
        </div>


        <div class="col-xs-12 prl15_sm ">
          <% 2.times do  %>
              <div class="black_border_block  mrl5_sm mrl25_md">
                <div class="row">
                  <div class="col-xs-12 ">
                    <div class="df paid_product_lists">
                      <div class="col-md-3 col-sm-3  col-xs-5 background_img_setting" style="background-image: url(<%= image_path 'tmp/kitchen.png' %>);">
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-7 vertical_space_around">
                        <h4 class="mtb0 ml20">Mr. Chan’s Kitchen</h4>
                        <h4 class="ml20 mt40 mt0_sm bold">Egg Drop Soup</h4>
                        <h4 class="mtb0 ml20 hidden-xs">Code: 12345</h4>
                      </div>
                      <div class="col-md-3 col-sm-3 col-sm-5 hidden-xs">
                        <button class="my_btn_reserve">Redeem now</button>
                        <button class="my_btn_reserve mt40">Send as gift</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>