<div class="container">
  <div class="row">
    <section class="col-xs-12 basic_bg_top prl15_sm prl30_md">
      <%= render 'user_banner' %>
    </section>
    <section class="col-xs-12 basic_bg prl15_sm prl30_md">
      <div class="row">

        <div class="col-xs-12 four_btn prl35_md mb25 mb0_sm">
          <%= render 'paid_button' %>
        </div>


        <div class="col-xs-12 prl15_sm ">
          <div class="black_border_block mt25_sm mrl5_sm mrl25_md">
            <div class="row">
              <h3 class="bold ml15">Mr. Chan’s Kitchen</h3>

              <% 2.times do  %>
                  <div class="col-xs-12 mt30">
                    <%= render 'product_list' %>
                  </div>
              <% end %>

              <div class="col-xs-12 mt20">
                <h4 class="tar bold">Total Payment : $28.00</h4>
              </div>
              <div class="col-xs-12">
                <i class="gray_line  mtb25"></i>
              </div>
              <div class="col-sm-6 col-xs-12 tac tan_sm">
                <h4 class="red">Confirmation Number: #12345678</h4>
              </div>
              <div class="col-sm-6 col-xs-12 tac tar_sm">
                <button class="my_btn_reserve mt25 mt0_sm">Cancel this order</button>
              </div>
              <div class="col-xs-12">
                <i class="gray_line mtb25"></i>
              </div>
              <div class="col-sm-6 col-xs-12 tac tan_sm">
                <h5 class="black">Got the meal?</h5>
              </div>
              <div class="col-sm-6 col-xs-12 tac tar_sm">
                <button class="my_btn_reserve mr15_sm mt25 mt0_sm db dib_sm mrla">Yep!</button>
                <button class="my_btn_reserve db dib_sm mt25 mt0_sm mrla">Not yet!</button>
              </div>
            </div>
          </div>
          <div class="black_border_block mt25_sm mrl5_sm mrl25_md">
            <div class="row">
              <h3 class="bold ml15">Mr. Chan’s Kitchen</h3>

              <% 2.times do  %>
                  <div class="col-xs-12 mt30">
                    <%= render 'product_list' %>
                  </div>
              <% end %>

              <div class="col-xs-12 mt20">
                <h3 class="tar bold">Total Payment : $28.00</h3>
              </div>
              <div class="col-xs-12">
                <i class="gray_line  mtb25"></i>
              </div>
              <div class="col-sm-8 col-xs-12 tac tan_sm">
                <h3 class="red">Confirmation Number: <span class="db di_sm mt0_sm mt10_xs">#12345678</span></h3>
              </div>
              <div class="col-sm-4 col-xs-12 tac tar_sm">
                <button class="my_btn_reserve mt25 mt0_sm">Cancel this order</button>
              </div>
              <div class="col-xs-12">
                <i class="gray_line mtb25"></i>
              </div>
              <div class="col-sm-6 col-xs-12 tac tan_sm">
                <h5 class="black">Got the meal?</h5>
              </div>
              <div class="col-sm-6 col-xs-12 tac tar_sm">
                <button class="my_btn_reserve mr15_sm mt25 mt0_sm db dib_sm mrla">Yep!</button>
                <button class="my_btn_reserve db dib_sm mt25 mt0_sm mrla">Not yet!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>