<div class="container">
  <div class="row">
    <section class="col-xs-12 basic_bg_top prl30_sm">
      <div class="row">
        <%= render 'user_banner' %>
      </div>
    </section>
    <section class="col-xs-12 basic_bg prl15_sm prl30_md">
      <div class="row">
        <div class="col-xs-12 prl15_sm" id="user_reviews">
          <%= render 'food_comments' %>
        </div>

        <div class="col-xs-12">
          <div class="tac pt30">
            <% if @next_page %>
                <%= link_to "Load More", review_user_path(current_user, :page => @next_page ), :remote => true, :class => "my_btn", :id => "load-more" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(document).on('click','.my_black_btn_reserve',function(){
      $(this).siblings('.my_black_btn').removeClass('my_black_btn').addClass('my_black_btn_reserve');
      $(this).removeClass('my_black_btn_reserve').addClass('my_black_btn');
    })

    $(document).on('click','.comment_edit_btn',function(){
      var parent = $(this).parents('.black_border_block')
      $(this).hide()
      if (parent.find('.comment_reply_textarea,.comment_reply').hasClass('hidden')){
        var textarea = parent.find('.comment_reply_textarea');
        var food_comment = $(this).parents('.black_border_block').find('.food_comment')
        textarea.removeClass('hidden')
        textarea.find('textarea').val(food_comment.find('p').html())
        food_comment.hide()
      }else if (parent.find('.comment_reply_textarea').hasClass('hidden') && !parent.find('.comment_reply').hasClass('hidden')){
        parent.find('.comment_edit_btn').hide()
      }
    })

  })
</script>