
<div class="col-xs-12">
  <div class="row banner">

    <div class="title">
      <h1>HUNGRY?</h1>
      <h3>Don't feel like cooking?</h3>
      <h3>We ot you coverd.</h3>
    </div>
    <div class="search_wrap">
      <div class="ui form">


        <div class="ui fluid search selection dropdown">
          <input type="hidden" name="country">
          <i class="dropdown icon"></i>
          <div class="default text">Search</div>
          <div class="menu">
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
          </div>
        </div>


        <div class="ui fluid search selection dropdown">
          <input type="hidden" name="country">
          <i class="dropdown icon"></i>
          <div class="default text">Near</div>
          <div class="menu">
            <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
            <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
          </div>
        </div>

        <button class="ui button" type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-xs-12 filters">
        <div class="ui icon button" data-tooltip="Filter" data-inverted="">
          <i class="fa fa-filter fa-2x pull-left" aria-hidden="true"></i>
        </div>
        <div class="ui icon button pull-right" data-tooltip="Map view" data-inverted="">
          <i class="fa fa-street-view fa-2x pull-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="row my_cards">
      <% 9.times do %>
          <div class="col-md-4 col-xs-6">
              <div class="ui fluid card">
                <div class="image">
                  <%= image_tag 'product.png' %>
                  <div class="card_hover_link">
                    <i class="fa fa-heart" aria-hidden="true"></i>


                    <div class="some-wrapping-div">
                      <i class="fa fa-external-link ui custom button" aria-hidden="true"></i>
                    </div>
                    <div class="ui custom popup top left transition hidden">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                      <i class="fa fa-weixin" aria-hidden="true"></i>
                    </div>


                  </div>
                </div>
                <div class="content">
                  <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                  <p class="description">Mr.chans Kitchen</p>
                  <hr>
                  <p class="header">Roasted Duck</p>
                  <p class="description" href="#">$7.00/ Half</p>
                  <div class="meta hidden-xs">
                    <span>Vegan</span><span>Soup</span><span>Pumkim</span><span>Autum</span>
                  </div>
                  <div class="ui rating " data-rating="3" data-max-rating="5"></div>
                </div>
              </div>
          </div>
      <% end %>
  </div>
  <div class="load_more">
    <button class="ui button my_btn">Load more</button>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.ui.rating').rating();
    $('.ui.dropdown').dropdown();
    $('.my_cards .custom.button').popup({popup : $('.custom.popup'),position: 'top right',hoverable:true});
  });
</script>