<div class="col-sm-5 col-xs-12 background_img_setting" style="background-image: url(<%= image_path 'tmp/kitchen_1.png' %>);">
</div>
<div class="col-sm-7 col-xs-12 pl25_sm pl40_md pl70_lg vertical_space_around">
  <div class="ptb10 ptbn_sm">
    <h3>Lemon Ribs with Roasted Potatoes</h3>
  </div>
  <div class="ptb20 ptb0_sm">
    <%= render 'common/spinner', qty: 1  %>
  </div>
  <div class="ptb20 ptb0_sm">
    <h3 class="red">$14.00</h3>
  </div>
</div>