<div class="add_to_cart">
  <h3 class="dib" style="font-size: 24px;"><i class="cart_icon_white"></i><span>$<%= @order.amount %></span></h3>
  <button class="purchase">PURCHASE</button>
</div>
<style>
  .footer,.back_to_top{
    display: none;
  }
  body{
    padding-bottom: 60px;
  }
</style>