<section class="row">
  <div class="col-xs-12 basic_bg">
    <div class="row">
      <h1 class="bold tac mb50">Payment Information</h1>
      <div class="col-md-10 col-md-offset-1">
        <i class="gray_line mb50_sm mb30"></i>
        <form id="checkout-form" action="/orders/<%=@order.id%>/transactions" method="post">
          <div id="error-message"></div>
          <div class="row">
            <div class="col-sm-5">
              <label for="card-number">Card Number</label>
            </div>
            <div class="col-sm-6">
              <div class="hosted-field credit-input" id="card-number"></div>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-5">
              <label for="expiration-date">Expiration Month</label>
            </div>
            <div class="col-sm-2">
              <div class="hosted-field credit-input" id="expiration-month"></div>
            </div>
            <div class="col-sm-2">
              <label for="expiration-year" class="mt0">year</label>
            </div>
            <div class="col-sm-2">
              <div class="hosted-field credit-input" id="expiration-year"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <label for="cvv" class="col-sm-5 pl0">CVV</label>
            </div>
            <div class="col-xs-6">
              <div class="hosted-field credit-input" id="cvv"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="hidden" name="payment-method-nonce">
              <input id='checkout-form-submit' type="submit" value="Pay <%= @order.amount %>" class="my_btn mt30 hidden">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>







<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

<script>
  var form = document.querySelector('#checkout-form');
  var submit = document.querySelector('input[type="submit"]');

  braintree.client.create({
    // Replace this with your own authorization.
    authorization: '<%= @client_token %>'
  }, function (clientErr, clientInstance) {
    if (clientErr) {
      // Handle error in client creation
      return;
    }

    braintree.hostedFields.create({
      client: clientInstance,
      styles: {
        'input': {
          'font-size': '14pt'
        },
        'input.invalid': {
          'color': 'red'
        },
        'input.valid': {
          'color': 'green'
        }
      },
      fields: {
        number: {
          selector: '#card-number',
          placeholder: '4111 1111 1111 1111'
        },
        cvv: {
          selector: '#cvv',
          placeholder: '123'
        },
        expirationMonth: {
          selector: '#expiration-month',
          select: []
        },
        expirationYear: {
          selector: '#expiration-year',
          select: []
        }
      }
    }, function (hostedFieldsErr, hostedFieldsInstance) {
      if (hostedFieldsErr) {
        // Handle error in Hosted Fields creation
        return;
      }

      submit.removeAttribute('disabled');

      form.addEventListener('submit', function (event) {
        event.preventDefault();

        hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
          if (tokenizeErr) {
            // Handle error in Hosted Fields tokenization
            return;
          }

          // Put `payload.nonce` into the `payment-method-nonce` input, and then
          // submit the form. Alternatively, you could send the nonce to your server
          // with AJAX.
          document.querySelector('input[name="payment-method-nonce"]').value = payload.nonce;
          form.submit();
        });
      }, false);
    });
  });
</script>