<%= form_for setup_big_bun(@big_bun), :url => chef_big_buns_path(@chef.id), :method => :post do |f| %>
    <div class="container">
      <section class="row">
        <div class="col-xs-12 basic_bg_top ui form">
          <div class="row">
            <%= render :partial => 'form', :locals => { :f => f } %>

            <div class="col-xs-12 tac mt15 mt30_sm">
              <%= f.submit 'SUBMIT',class: 'my_btn' %>
            </div>

          </div>
        </div>

      </section>
    </div>
<% end %>
