<div id="bannerCarousel" class="banner carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#bannerCarousel" data-slide-to="1"></li>
    <li data-target="#bannerCarousel" data-slide-to="2"></li>
    <li data-target="#bannerCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% food.food_photos.each  %>
    <div class="item active">
      <div style="background-image: url(<%= image_path 'tmp/kitchen_1.png' %>);" class="background_img_setting" data-food-pic="<%= food.id %>"></div>
    </div>

  </div>

  <a class="left carousel-control" href="#bannerCarousel" role="button" data-slide="prev">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#bannerCarousel" role="button" data-slide="next">
    <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
  </a>
</div>