<div class="ui form">
  <div class="count_spinner">
    <div class="ui mini buttons">
      <%= button_tag type:"button", class:"ui icon button product_spineer_button", command:"Down" do  %>
          <i class="minus_icon"></i>
      <% end %>
      <%= text_field_tag :qty ,qty, id:"txtNum", min:"1", readonly: true %>
      <%= button_tag type:"button", class:"ui icon button product_spineer_button", command:"Up" do  %>
          <i class="add_icon"></i>
      <% end %>
    </div>
  </div>
</div>

