$main_red: #E8212D;
$main_black: #4A4A4A;
$main_radius: 10px;
$sub_radius: 5px;

@mixin square-icon($pixel: 40px){
  font-size:$pixel / 2;
  color: $main_red;
  background-color: #FFFFFF;
  border-radius: $main_radius;
  height: $pixel;
  line-height: $pixel;
  width: $pixel;
  text-align: center;
}
@mixin flex_($vertical,$horizon){
  display: flex;
  display : -webkit-flex;
  -webkit-justify-content: $horizon;
  justify-content: $horizon;
  -webkit-align-items: $vertical;
  align-items: $vertical;
}
@mixin basic_bg($top,$bottom){
  border-top-left-radius: $top;
  border-top-right-radius: $top;
  border-bottom-right-radius: $bottom;
  border-bottom-left-radius: $bottom;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%;
  padding:40px;
}
@mixin border_radius($_){
  -webkit-border-radius:$_;
  -moz-border-radius:$_;
  border-radius:$_;
}
@mixin background_size_cover {
  -webkit-background-size:cover;
  background-size:cover;
}
@mixin background_size($_) {
  -webkit-background-size:$_;
  background-size:$_;
}
@mixin text_overflow($font-size,$line-height){
  font-size: $font-size;
  line-height: $line-height;
  $lines-to-show: 3;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}