$main_red: #E8212D;
$main_black: #555;
$main_radius: 10px;
$card_radius: 5px !important;
$xs-width: 768px;
$sm-width: 992px;

@mixin square-icon($pixel: 40px){
  font-size:$pixel / 2;
  color: $main_red;
  background-color: #FFFFFF;
  border-radius: $main_radius;
  height: $pixel;
  line-height: $pixel;
  width: $pixel;
  text-align: center;
}
@mixin flex_($vertical,$horizon){
  display: flex;
  display : -webkit-flex;
  -webkit-justify-content: $horizon;
  justify-content: $horizon;
  -webkit-align-items: $vertical;
  align-items: $vertical;
}
@mixin basic_bg($top,$bottom){
  border-top-left-radius: $top;
  border-top-right-radius: $top;
  border-bottom-right-radius: $bottom;
  border-bottom-left-radius: $bottom;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%;
  padding:15px 30px;
}
@mixin text_overflow($font-size,$line-height){
  font-size: $font-size;
  line-height: $line-height;
  $lines-to-show: 3;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: $sm-width) {
  @mixin basic_bg($top,$bottom){
    border-top-left-radius: $top;
    border-top-right-radius: $top;
    border-bottom-right-radius: $bottom;
    border-bottom-left-radius: $bottom;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    padding:5px 20px;
  }
  .basic_bg{
    @include basic_bg(10px,10px);
    height:calc(100% - 15px);
  }
  .basic_bg_top{
    @include basic_bg(0,10px);
    height:calc(100% - 15px);
  }
  .basic_bg_bottom{
    @include basic_bg(10px,0);
    margin-bottom: 0;
  }
}
@media (max-width: $xs-width) {
  @mixin basic_bg($top,$bottom){
    border-top-left-radius: $top;
    border-top-right-radius: $top;
    border-bottom-right-radius: $bottom;
    border-bottom-left-radius: $bottom;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    overflow: hidden;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding:5px 20px;
  }
  .basic_bg{
    @include basic_bg(0,0);
    height:calc(100% - 5px);
  }
  .basic_bg_top{
    @include basic_bg(0,0);
    height:calc(100% - 5px);
  }
  .basic_bg_bottom{
    @include basic_bg(0,0);
    margin-bottom: 0;
  }
}