.carousel-control i{
  color: $main_red;
}
.left.carousel-control i{
  margin-left: -5px;
  left: 50%;
  padding-right: 3px;
}
.right.carousel-control i{
  margin-right: -5px;
  right: 50%;
  padding-left: 3px;
}
.carousel-control{
  text-shadow:initial;
  i{
    width: 40px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
    font-size: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.carousel-control.left,.carousel-control.right{
  @extend .flex_center;
  .fa-angle-left,.fa-angle-right{
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-shadow:none;
    @extend .red;
  }
  .fa-angle-left{
    padding-right: 2px;
  }
  .fa-angle-right{
    padding-left: 2px;
  }
}