.icon_setting{
  @include background_size_cover;
  background-position: center;
  display: inline-block;
  margin-right: 5px;
  font-size:inherit;
}
.cloche_icon_red{
  background-image:image-url('icon/cloche.svg');
  @extend .icon_setting;
  width: 1em;
  height: 0.55em;
}
@mixin share_icon($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="22px" height="19px" viewBox="0 0 22 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>share icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop" transform="translate(-648.000000, -1540.000000)" fill="#{$color}">
            <g id="you-may-also-want" transform="translate(62.000000, 1158.000000)">
                <g id="icon" transform="translate(541.000000, 382.000000)">
                    <g id="share-icon" transform="translate(45.039080, 0.000000)">
                        <polygon id="Fill-1" points="0 0.600658388 0 18.5017104 17.6575488 18.5017104 17.6575488 11.7137276 16.2354643 11.7137276 16.2354643 17.060015 1.42208446 17.060015 1.42208446 2.04235386 11.3766757 2.04235386 11.3766757 0.600658388"></polygon>
                        <path d="M21.0349994,4.14487447 L14.7541263,0 L14.7541263,2.20194954 C12.4489274,2.97109408 5.84429312,6.0546404 7.16967584,15.8586501 C7.16967584,15.8586501 8.58322779,7.70634284 14.7541263,7.07175655 L14.7541263,9.13073796 L21.0349994,4.14487447 Z" id="Fill-2"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>');
  @extend .icon_setting;
  width: 1em;
  height: 0.9em;
  margin-bottom: -3px;
}
.share_icon_white{
  @include share_icon(white);
}
.share_icon_red{
  @include share_icon($main_red);
}
@mixin minus_icon($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>48px minus</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="Desktop" transform="translate(-603.000000, -1339.000000)" stroke="#{$color}">
            <g id="you-may-also-want" transform="translate(62.000000, 1158.000000)">
                <g id="48px-minus" transform="translate(541.000000, 181.000000)">
                    <path d="M48.9382916,24.9385693 C48.9382916,38.1940674 38.1937896,48.9385693 24.9402321,48.9385693 C11.6827935,48.9385693 0.938291575,38.1940674 0.938291575,24.9385693 C0.938291575,11.6830713 11.6827935,0.938569342 24.9402321,0.938569342 C38.1937896,0.938569342 48.9382916,11.6830713 48.9382916,24.9385693 L48.9382916,24.9385693 Z" id="Stroke-1"></path>
                    <path d="M10.6556015,24 L37.6153084,24" id="Stroke-3"></path>
                </g>
            </g>
        </g>
    </g>
</svg>');
  display: inline-block;
  font-size: inherit;
  width: 1em;
  height: 1em;
}
.minus_icon_black{
  @include minus_icon(black);
}
.minus_icon_white{
  @include minus_icon(white);
}
@mixin add_icon($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>48px add</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
        <g id="Desktop" transform="translate(-806.000000, -1339.000000)" stroke="#{$color}">
            <g id="you-may-also-want" transform="translate(62.000000, 1158.000000)">
                <g id="48px-add" transform="translate(744.000000, 181.000000)">
                    <path d="M48.9382916,24.9385693 C48.9382916,38.1940674 38.1937896,48.9385693 24.9402321,48.9385693 C11.6827935,48.9385693 0.938291575,38.1940674 0.938291575,24.9385693 C0.938291575,11.6830713 11.6827935,0.938569342 24.9402321,0.938569342 C38.1937896,0.938569342 48.9382916,11.6830713 48.9382916,24.9385693 L48.9382916,24.9385693 Z" id="Stroke-1"></path>
                    <path d="M10.6556015,24 L37.6153084,24" id="Stroke-3"></path>
                    <path d="M24,10.6611418 L24,37.6396147" id="Stroke-5"></path>
                </g>
            </g>
        </g>
    </g>
</svg>');
  display: inline-block;
  font-size: inherit;
  width: 1em;
  height: 1em;
}
.add_icon_black{
  @include add_icon(black);
}
.add_icon_white{
  @include add_icon(white);
}
@mixin cart($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="35px" height="28px" viewBox="0 0 35 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>35x28px checkout icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD" transform="translate(-656.000000, -2284.000000)" fill="#{$color}">
            <g id="1440x60px-check-out-bar" transform="translate(0.000000, 2267.000000)">
                <path d="M687.388356,36.3847752 C687.712499,36.3847752 687.999504,36.1679114 688.083062,35.8520359 L690.974104,25.0814014 C691.080267,24.7009879 690.850179,24.30454 690.463872,24.2039248 C690.07797,24.1049131 689.681975,24.329794 689.581059,24.7134144 L689.163267,26.2699433 L662.103247,22.7824849 L661.783546,19.0893867 C661.755289,18.8051789 661.565163,18.5630611 661.289057,18.4704631 L656.952899,17.0361957 C656.568207,16.9123308 656.162928,17.116768 656.038196,17.4907679 C655.909831,17.8651686 656.115699,18.2720387 656.495547,18.3979079 L660.384043,19.6854615 L661.72784,35.056735 C660.508775,35.3926534 659.616274,36.5042307 659.616274,37.8218486 C659.616274,39.0336401 660.388887,40.1215668 661.538118,40.5276353 C661.755289,40.6025956 661.976901,40.6422804 662.199723,40.6675344 C661.941782,41.0964517 661.783546,41.5903079 661.783546,42.1278575 C661.783546,43.7124464 663.081325,45 664.679027,45 C666.269867,45 667.566436,43.7124464 667.566436,42.1278575 C667.566436,41.6031354 667.414658,41.1172963 667.166001,40.693991 L680.558362,40.693991 C680.308494,41.1172963 680.154698,41.6031354 680.154698,42.1278575 C680.154698,43.7124464 681.454496,45 683.050583,45 C684.644652,45 685.937992,43.7124464 685.937992,42.1278575 C685.937992,41.6031354 685.786214,41.1172963 685.537153,40.693991 L687.388356,40.693991 C687.784351,40.693991 688.110108,40.3717018 688.110108,39.9756548 C688.110108,39.5764009 687.784351,39.2573185 687.388356,39.2573185 L662.506911,39.2573185 C662.340602,39.2573185 662.180751,39.2272542 662.022515,39.1755436 C661.449312,38.9711064 661.059776,38.4287465 661.059776,37.8218486 C661.059776,37.0277503 661.710482,36.3847752 662.506911,36.3847752 L687.388356,36.3847752 Z" id="35x28px-checkout-icon"></path>
            </g>
        </g>
    </g>
</svg>');
  @extend .icon_setting;
  width: 1em;
  height: 0.9em;
  margin-bottom: -3px;
}
.cart_icon_white{
  @include cart(white);
}
.cart_icon_red{
  @include cart($main_red);
}

@mixin moto($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="43px" height="29px" viewBox="0 0 43 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>delivery icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop" transform="translate(-105.000000, -757.000000)" fill="#{$color}">
            <g id="kitchen-intro" transform="translate(62.000000, 278.000000)">
                <g id="delivery" transform="translate(29.000000, 479.000000)">
                    <g id="delivery-icon" transform="translate(14.000000, 0.000000)">
                        <path d="M38.2067376,22.8257943 C37.801279,24.2827197 36.4699571,25.3529381 34.885879,25.3529381 C33.301801,25.3529381 31.970479,24.2827197 31.5650205,22.8257943 L38.2067376,22.8257943 Z M6.4639278,25.3529381 C4.55829366,25.3529381 3.01344,23.8061102 3.01344,21.8977816 C3.01344,19.989453 4.55829366,18.4426251 6.4639278,18.4426251 C8.36956195,18.4426251 9.91441561,19.989453 9.91441561,21.8977816 C9.91441561,23.8061102 8.36956195,25.3529381 6.4639278,25.3529381 L6.4639278,25.3529381 Z M42.8566107,9.99493657 L23.1399571,9.99493657 L23.1399571,11.1502263 C23.1399571,11.1502263 25.5171229,12.3405948 25.5171229,16.4714908 C25.5171229,19.93757 21.5667863,19.7974649 18.1058107,19.7974649 C14.6448351,19.7974649 13.351479,12.0255158 13.246601,11.360489 C13.1637473,10.8355674 12.8205863,10.706385 12.6792107,10.6748771 L16.4512546,2.5336554 C16.7266644,1.93941637 16.4170644,1.45335448 15.7634644,1.45335448 C15.5801376,1.45335448 15.3890498,1.49473486 15.2021571,1.56279192 C14.6572107,0.787907594 12.6766937,0.210052678 11.8479473,0.210052678 L11.8479473,3.71121071 C12.2810937,3.71121071 13.0295034,3.55304104 13.7229571,3.29173551 L10.3047717,10.6681554 C8.15120585,10.7416738 8.28209366,13.8464625 8.28209366,13.8464625 C5.53785463,13.8464625 0.95804,14.5287136 0.11901561,17.154372 C-0.259594146,18.3392792 0.292693659,18.4856859 1.3913961,18.290757 C0.667947317,19.3090924 0.241303415,20.5532344 0.241303415,21.8977816 C0.241303415,25.3392847 3.0272839,28.1292043 6.4639278,28.1292043 C9.90057171,28.1292043 12.6865522,25.3392847 12.6865522,21.8977816 C12.6865522,21.3008119 12.6009717,20.7244273 12.4447034,20.1778703 C13.687718,21.5190566 13.5958449,22.8257943 13.5958449,22.8257943 L28.7322644,22.8257943 C29.1798839,25.827027 31.7642888,28.1292043 34.885879,28.1292043 C38.0074693,28.1292043 40.5918741,25.827027 41.0394937,22.8257943 L42.8566107,22.8257943 C42.8566107,19.4317632 42.0767376,16.9405384 41.1252839,15.1595018 C41.7765766,15.3895094 42.4532498,15.5266738 42.8566107,15.5266738 L42.8566107,12.0255158 C42.124562,12.0255158 40.4926595,12.4764989 39.7467668,13.1161093 C38.6654741,11.8402493 37.7175863,11.3247801 37.7175863,11.3247801 L42.8566107,11.3247801 L42.8566107,9.99493657 Z" id="Fill-1"></path>
                        <polygon id="Fill-4" points="33.9421024 9.32969974 42.8565268 9.32969974 42.8565268 0.402670983 33.9421024 0.402670983"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>');
  @extend .icon_setting;
  width: 1em;
  height: 0.6em;
}
.moto_icon_white{
  @include moto(white);
}
.moto_icon_red{
  @include moto($main_red);
}

@mixin cert($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="24px" height="31px" viewBox="0 0 24 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>certificate icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop" transform="translate(-122.000000, -858.000000)" fill="#{$color}">
            <g id="kitchen-intro" transform="translate(62.000000, 278.000000)">
                <g id="certificate-" transform="translate(29.000000, 580.000000)">
                    <path d="M42.7715455,5.17646874 C39.1401981,5.17646874 36.1962734,8.10877291 36.1962734,11.7264583 C36.1962734,15.3438428 39.1401981,18.2764478 42.7715455,18.2764478 C46.4028928,18.2764478 49.3468176,15.3438428 49.3468176,11.7264583 C49.3468176,8.10877291 46.4028928,5.17646874 42.7715455,5.17646874 M51.4566119,18.0699207 C51.8823366,19.7635636 50.8397742,20.8022175 49.1394933,20.3781297 C48.6116671,20.2464298 48.0424566,20.2405119 47.4815029,20.3395125 L47.4815029,31 L42.8863341,26.957625 L38.0614874,31 L38.0614874,20.3394122 C37.5005337,20.2405119 36.9314239,20.2464298 36.4035977,20.3781297 C34.7033168,20.8022175 33.6607544,19.7635636 34.0864791,18.0699207 C34.5122038,16.3762778 33.6306475,14.2561399 32.1274204,13.3585141 C30.6241932,12.4608884 30.6241932,10.9920281 32.1274204,10.0943021 C33.6306475,9.19667641 34.5123045,7.07643815 34.0864791,5.38289557 C33.6607544,3.6892527 34.7034175,2.65049844 36.4035977,3.07468652 C38.1037779,3.4987743 40.2319988,2.62070798 41.13319,1.12316056 C42.0342805,-0.374386854 43.5088105,-0.374386854 44.409901,1.12316056 C45.3110922,2.62070798 47.439313,3.4987743 49.1394933,3.07468652 C50.8397742,2.65049844 51.8823366,3.6892527 51.4566119,5.38289557 C51.0308872,7.07643815 51.9124434,9.19667641 53.4156706,10.0943021 C54.9188978,10.9920281 54.9188978,12.4608884 53.4156706,13.3585141 C51.9124434,14.2561399 51.0308872,16.3762778 51.4566119,18.0699207 Z" id="certificate-icon"></path>
                </g>
            </g>
        </g>
    </g>
</svg>');
  @extend .icon_setting;
  width: 1em;
  height: 1.3em;
}
.cert_icon_white{
  @include cert(white);
}
.cert_icon_red{
  @include cert($main_red);
}
@mixin block_icon($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>pic view icon T</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="0" y="0" width="18.5714286" height="18.3912363"></rect>
        <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="18.5714286" height="18.3912363" fill="white">
            <use xlink:href="#path-1"></use>
        </mask>
    </defs>
    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD-list" transform="translate(-129.000000, -2037.000000)">
            <g id="food-section" transform="translate(80.000000, 1919.000000)">
                <g id="pic-view-icon-T" transform="translate(49.000000, 118.000000)">
                    <use id="Rectangle-2" stroke="#EC1C24" mask="url(#mask-2)" stroke-width="2" xlink:href="#path-1"></use>
                    <rect id="Rectangle-2-Copy-2" fill="#{$color}" x="0" y="21.2206573" width="18.5714286" height="18.3912363"></rect>
                    <rect id="Rectangle-2-Copy" fill="#{$color}" x="21.4285714" y="0" width="18.5714286" height="18.3912363"></rect>
                    <rect id="Rectangle-2-Copy-3" fill="#{$color}" x="21.4285714" y="21.2206573" width="18.5714286" height="18.3912363"></rect>
                </g>
            </g>
        </g>
    </g>
</svg>');
  @extend .icon_setting;
  width: 1em;
  height: 2.5em;
  margin-bottom: -1px;
}
.block_icon_white{
  @include block_icon(white);
}
.block_icon_red{
  @include block_icon($main_red);
}
.photo_icon{
  background-image: image-url('icon/Photo.png');
  @extend .background_img_setting;
  display: block;
  width: 37px;
  height: 28px;
  margin: auto;
}
@mixin ig_square_icon($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="46px" height="46px" viewBox="0 0 46 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>IG icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-Copy" transform="translate(-133.000000, -1573.000000)" fill="#{$color}">
            <g id="social-media-info" transform="translate(102.000000, 1419.000000)">
                <g id="IG-icon" transform="translate(30.000000, 154.000000)">
                    <path d="M31.8955,29.0156 C31.8955,30.0526 31.0525,30.8956 30.0155,30.8956 L17.9835,30.8956 C16.9465,30.8956 16.1045,30.0526 16.1045,29.0156 L16.1045,20.9876 L19.0325,20.9876 C18.7795,21.6086 18.6365,22.2876 18.6365,22.9986 C18.6365,25.9556 21.0425,28.3626 23.9995,28.3626 C26.9575,28.3626 29.3625,25.9556 29.3625,22.9986 C29.3625,22.2876 29.2195,21.6086 28.9665,20.9876 L31.8955,20.9876 L31.8955,29.0156 Z M21.2015,20.9876 C21.8285,20.1176 22.8475,19.5466 23.9995,19.5466 C25.1525,19.5466 26.1705,20.1176 26.7975,20.9876 C27.2085,21.5546 27.4525,22.2476 27.4525,22.9986 C27.4525,24.9036 25.9025,26.4516 23.9995,26.4516 C22.0955,26.4516 20.5475,24.9036 20.5475,22.9986 C20.5475,22.2476 20.7915,21.5546 21.2015,20.9876 L21.2015,20.9876 Z M31.1035,15.4526 L31.5375,15.4526 L31.5375,15.8836 L31.5375,18.7766 L28.2225,18.7866 L28.2105,15.4616 L31.1035,15.4526 Z M30.0155,13.1936 L17.9835,13.1936 C15.8925,13.1936 14.1935,14.8936 14.1935,16.9836 L14.1935,20.9876 L14.1935,29.0156 C14.1935,31.1066 15.8925,32.8066 17.9835,32.8066 L30.0155,32.8066 C32.1055,32.8066 33.8065,31.1066 33.8065,29.0156 L33.8065,20.9876 L33.8065,16.9836 C33.8065,14.8936 32.1055,13.1936 30.0155,13.1936 L30.0155,13.1936 Z M15.2145,45.9996 C9.9985,45.9996 6.9985,45.9996 3.9995,43.0016 C0.9995,40.0016 0.9995,37.0016 0.9995,31.7856 L0.9995,14.2166 C0.9995,8.9976 0.9995,5.9996 3.9995,2.9996 C6.9985,-0.0004 9.9985,-0.0004 15.2145,-0.0004 L32.7845,-0.0004 C38.0005,-0.0004 40.9995,-0.0004 43.9995,2.9996 C46.9995,5.9996 46.9995,8.9976 46.9995,14.2166 L46.9995,31.7856 C46.9995,37.0016 46.9995,40.0016 43.9995,43.0016 C40.9995,45.9996 38.0005,45.9996 32.7845,45.9996 L15.2145,45.9996 Z" id="Fill-1"></path>
                </g>
            </g>
        </g>
    </g>
</svg>');
  @extend .icon_setting;
  width: 1em;
  height: 1em;
  margin-left: -1px;
}
.ig_square_icon_white{
  @include ig_square_icon(white);
}
.ig_square_icon_red{
  @include ig_square_icon($main_red);
}
@mixin business_icon($color){
  background-image:url('data:image/svg+xml;utf8,<svg width="40px" height="45px" viewBox="0 0 40 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>business summary icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="completed" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD" transform="translate(-1165.000000, -831.000000)" fill="#{$color}">
            <g id="business-summary-btn" transform="translate(1035.000000, 819.000000)">
                <path d="M170,21.3355999 L170,17.0093855 C170,14.231557 167.759041,12 164.994678,12 L135.005322,12 C132.236284,12 130,14.2427783 130,17.0093855 L130,51.9906145 C130,54.768443 132.240959,57 135.005322,57 L164.994678,57 C167.763716,57 170,54.7572217 170,51.9906145 L170,35.00145 L161.57871,43.4227396 L154.745785,36.5898145 L170,21.3355999 Z M140,22 L160,22 L160,24 L140,24 L140,22 Z M140,29 L160,29 L160,31 L140,31 L140,29 Z M140,36 L149,36 L149,38 L140,38 L140,36 Z M153.416463,38 L160.249388,44.8329251 L150,48.2493876 L153.416463,38 Z" id="business-summary-icon"></path>
            </g>
        </g>
    </g>
</svg>');
  @extend .icon_setting;
  width: 1em;
  height: 1em;
  margin-left: -1px;
}
.business_icon_white{
  @include business_icon(white);
}
.business_icon_red{
  @include business_icon($main_red);
}
