body{
  margin-top: 50px;
  font-family:"Avenir Next";
  background-color: #EFF0F1;
}
a:hover{
  text-decoration: none;
}
a:focus{
  outline: none;
}
hr{
  color: $main_black;
}
h3{
  margin-top: 10px;
  font-size: 21px;
}
h6{
  font-size: 16px;
}
textarea{
  border-radius: 20px;
  width: 100%;
  margin: 25px auto;
  padding: 25px;
  border-color: #B8B9BA;
  resize: none;
  &:focus{
    outline: none;
  }
}
.carousel{
  height: 100%;
  .carousel-inner{
    height: 100%;
    .item{
      height: 100%;
      img,div{
        height: 100%;
      }
    }
  }
}
.modal{
  bottom: inherit;
  right:inherit;
}
button:focus{
  outline: none;
}
.ui.form input:not([type='submit']),.ui.form select,.ui.form .ui.dropdown{
  height: 36px;
  padding-top: 11px;
}
.ui.checkbox input:checked ~ .box:after, .ui.checkbox input:checked ~ label:after{
  @extend .red;
}
.ui.form input[type='text'].my_form,
.ui.form input[type='number'].my_form,
.ui.form input[type='email'].my_form,
.ui.form.my_form input{
  border-radius: 0 ;
  color: #FFFFFF;
  background-color: transparent;
  border:none;
  padding: 0;
  padding-left: 5px;
  border-bottom: 1px solid #FFFFFF;
  &:focus{
    border-radius: 0 ;
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
  }
}
input[type=submit]{
  width: 130px;
  height: 50px;
}
.ui.form .field.field input:-webkit-autofill {
  box-shadow: 0px 0px 0px 100px $main_red inset !important;
  border-color: #FFFFFF !important;
}
.ui.form .field.field input:-webkit-autofill:focus {
  box-shadow: 0px 0px 0px 100px $main_red inset !important;
  border-color: #FFFFFF !important;
}
.ui.star.rating{
  .active.icon,.icon.selected,.icon.selected.active{
    color: $main_red !important;
    text-shadow: none !important;
  }
  .icon{
    font-size: 20px;
    text-shadow: none;
  }
}
.hometaste_dropdown{
  & .menu{
    border:$main_red !important;
  }
  border:1px solid $main_red !important;
  .dropdown.icon{
    background-color: red !important;
    padding: 11px !important;
    right: 9px !important;
    color: white !important;
  }
}
.ui.progress{
  border-radius: 10px;
  .bar{
    border-radius: 10px;
    background-color: $main_red !important;
  }
}
.ui.dimmer{
  background-color: rgba(0, 0, 0, 0.35);
}
.cards .ui.card:last-child, .cards .ui.card:first-child {
  margin-top: 1em;
  margin-bottom: 1em;
}
.cards .ui.fluid.card{
  //overflow: hidden;
  display: none;
  border-radius: $sub_radius;
  p {
    font-weight: 500;
  }
  img{
    width: 100%;
  }
  .image{
    position: relative;
  }
  a{
    color: inherit;
  }
  .ui.rating {
    margin-top: 1em;
    .active.icon {
      color: $main_red;
    }
  }
  i.fa{
    color: $main_red;
  }
}

@media (max-width: $screen-sm-max){
  h2{
    margin:0 5px;
    font-size: 18px;
  }
  h4{
    margin-top: 5px;
    margin-bottom: 0;
    font-size:14px;
  }
  p{
    font-size: 12px;
  }
}
@media (max-width: $screen-xs-max) {
  .padding_right_7_xs{
    padding-right: 7px;
  }
  .padding_left_7_xs{
    padding-left: 7px;
  }
}