[name="kitchen_photo"]{
  label{
    width: 100%;
    @extend .border_none_radius;
    height: 350px;
  }
}
[name="profile"]{
  margin-top: -160px;
}
[name="dish_photo"]{
  .img_upload{
    label{
      width: 100%;
      @include border-radius(0);
    }
    textarea{
      @include border-radius(0);
    }
  }
}
[class^=chefs]{
  .ui.form{
    .field{
      label{
        margin-bottom: 10px !important;
        font-size: 14px;
      }
      input,select,.ui.dropdown{
        margin-bottom: 20px !important;
      }
    }
  }
}