[name="kitchen_photo"]{
  label{
    width: 100%;
    @extend .border_none_radius;
    height: 350px;
  }
}
[name="profile"]{
  margin-top: -160px;
}
[name="dish_photo"]{
  .img_upload{
    label{
      width: 100%;
      @include border-radius(0);
    }
    textarea{
      @include border-radius(0);
    }
  }
}
.chef_product_lists .background_img_setting{
  width: 160px;
  height: 120px;
}
[class^=chef]{
.basic_bg{
  a[class*=_btn],a[class*=_btn_reserve]{
    height: 50px;
    line-height: 50px;
    &:hover{
      @extend .red;
    }
    &:focus{
      @extend .white;
    }
  }
}
}
.chefs_menu{
  .css_carousel{
    .content img{
      height: 220px;
    }
    .group label{
      height: 48px;
      width: 48px;
      top: 50%;
      margin-top: -24px;
      line-height: 50px;
      font-size: 25px;
    }
    label.previous{
      margin-left: 15px;
    }
    label.next{
      margin-right: 15px;
    }
  }
  .basic_bg_bottom{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 507px) {
  [name=order_summary]{
    line-height: 18px !important;
    padding-top: 7px !important;
  }
}
@media (max-width: $screen-sm-max) {
  .chef_product_lists .background_img_setting{
    width: 120px;
    height: 90px;
  }
}
@media (max-width: $screen-xs-max) {
  [class^=chefs]{
    h4{
      font-size: 16px;
    }
  }
  [name="kitchen_photo"]{
    label{
      padding-top: 20px;
      @include justice-content(inherit);
      height: 190px;
    }
  }
  [name="profile"]{
    margin-top: -130px;
    label{
      width: 200px;
      height: 200px;
    }
  }
  .chefs_menu{
    .black_border_block{
      width: calc(100% + 35px);
    }
  }
}