.chef-container {
	border: 2px solid black;
	width: 50em;
	font-size: 20px;

	input {
		border: 0;
    border-bottom: 2px solid;
	}

	.form_control {
		margin-bottom: 1em;
	}

	.col-md-12 input {
		width: 36em;
	}

	#chef-submit-check-btn {
		width: 100%;
	}

	.col-md-6 input {
		width: 15em;
	}

	.check_box input{
		width:15px;
		height: 15px;
	}

	textarea {
		width: 100%;
		height: 8em;
	}

	#restaurant-main-photo {
	    height: 10em;
	    border: 2px solid;
	    background-color: azure;

	    input {
	    	margin: 10% 0%;
    	    border: 0;
	    }
	}

	.restaurant-dish-photo-div {

		.restaurant-dish-photo {
			height: 10em;
		    border: 2px solid;
			background-color: azure;
		    margin-bottom: 10px;

		    input{
		    	margin: 40% 0;
		    	border: 0;
		    }
		}
	}

	.chef-sub-container {
		border: 2px solid black;
		width: 40em;
		margin: 2em auto;
	  padding: 1em;
	}

	#chef-submit-btn {
		width:100%;
	}

}