.foods_show{
  .banner{
    height: 350px;
    background-color: #F0F0F0;
    .carousel-control.left,.carousel-control.right{
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    }
  }
  i[name=heart]{
    font-size: 22px;
  }
  i[name=shard]{
    font-size: 23px;
  }
  #txtNum{
    font-size: 40px;
  }
  .cloche_icon_red{
    font-size: 29px;
  }
  .fa-heart-o,.fa-plus-circle,.share_icon_white{
    font-size: 19px;
    margin-right: 5px;
  }
  [class^="show_rated_"]{
    font-size: 19px;
  }
}
@media (max-width: $screen-sm-max) {
  .foods_show{
    .banner {
      height: 270px;
    }
    .basic_bg_top .social_buttons{
      button{
      margin:0 -2px;
      width: 80px;
      height: 50px;
        @include border_radius(0);
      }
      button:first-child{
        @include border-radius-(bottom, left ,5px);
      }
      button:nth-child(2){
        border-left:1px solid white;
      }
      button:last-child{
        border-left:1px solid white;
        @include border-radius-(bottom, right ,5px);
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .foods_show {
    .banner {
      height: 190px;
    }
    .basic_bg_top .social_buttons{
      margin-left: -8px;
      width: calc(100% + 11px);
      padding: 0;
      button{
        width:calc(100% / 3);
      }
      button:first-child{
        @include border-radius-(bottom, left ,0);
      }
      button:last-child{
        border-left:1px solid white;
        @include border-radius-(bottom, right ,0);
      }
    }
  }
}