// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar {
	background-color: red;
	color: white;
	a {
		color: white;
	}
	.dropdown {
		position: relative;
	    display: block;
	    padding: 15px 15px;
	    .dropdown-menu {
    	    width: 300%;
		    padding-left: 50%;
		    left: -150%;
			background-color: red;
			input {
			    background-color: red;
			    color: white;
			    margin-top: 15px;
		        border-color: white;
			    border-width: 0px 0px 1px 0px;
			}
			#sign_up_btn, #login_btn {
				background-color: red;
			    color: white;
			    margin-top: 15px;
			    margin-left: 20%;
		        border-color: white;
			    border-width: 1px 1px 1px 1px;
			    border-radius: 5px;
			}
			.fa {
			    font-size: 300%;
		        margin-right: 5%;
			}
			p {
			    margin-top: 10%;
			    margin-bottom: 5%;
			}
			.outh_logo{
				margin-left: 0px;
			}
	    }
	}
}

.navbar a:hover{
	background-color: red !important;
	text-decoration: underline !important;
}



.content {
	margin-top: 50px;
}