@mixin square-icon($pixel: 40px){
  font-size:$pixel / 2;
  color: $main_red;
  background-color: #FFFFFF;
  border-radius: $main_radius;
  height: $pixel;
  line-height: $pixel;
  width: $pixel;
  text-align: center;
}
@mixin flex_($vertical,$horizon){
  display: flex;
  display : -webkit-flex;
  -webkit-justify-content: $horizon;
  justify-content: $horizon;
  -webkit-align-items: $vertical;
  align-items: $vertical;
}