//---------- public setting ---------//
body{
  margin-top: 50px;
}
a:hover{
  text-decoration: none;
}
hr{
  color: $main_black;
}
button.ui.button.my_btn{
  display: block;
  background-color: $main_red;
  color: #FFFFFF;
  font-weight: inherit;
  border-radius: $main_radius;
  font-size:1em;
}
.under_line{
  border-bottom: 1px solid $main_black;
}
.back_to_top{
  position: fixed;
  font-size:40px;
  right: 50px;
  bottom: 20px;
  color: red;
  i{
    transform: rotate(-90deg);
  }
}
.square-icon{
  @include square-icon;
}

//---------- navbar ---------//
.my_navbar{
  background-color: $main_red;
  border:0;
  a{
    color: #fff !important;
  }
  .nav.navbar-nav li > a{
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.ui.fluid.card {
  overflow: hidden;
  border-radius: $card_radius;
  .content {
    position: relative;
  }
  .header {
    margin-top: 10px;
  }
  p {
    font-weight: 500;
  }
  hr {
    width: 70%;
    margin: 0 0 10px 0;
  }
  img{
    width: 100%;
  }
  i.fa {
    color: $main_red;
    right: 20px;
    top: 10px;
  }
  .fa-map-marker{
    position: absolute;
  }
  .image{
    position: relative;
  }
  .ui.rating {
    margin-top: 1em;
    .active.icon {
      color: $main_red;
    }
  }
  .meta span {
    text-decoration: underline;
    color: #3A618D;
  }
}
.my_cards .ui.card:last-child, .my_cards .ui.card:first-child {
  margin-top: 1em;
  margin-bottom: 1em;
}
//---------- footer ---------//
.footer{
  margin-top: 60px;
  text-align: center;
  .col-md-3{
    height: 100%;
  }
  .col-md-3:nth-child(1){
    margin-left:12.5%;
  }
  .col-md-3:nth-child(2){
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
  }
  .col-md-3:nth-child(3){
    .col-md-12:nth-child(2){
      border-top: 1px solid #FFFFFF;
      margin-top: 15px;
      padding-top: 15px;
    }
  }
  .footer-first{
    padding:35px 0;
    background-color: $main_red;
    color: #FFFFFF;
    min-height:220px;
    a,p{
      color: #FFFFFF;
      font-size: 16px;
      display: block;
    }
    a{
      margin-bottom: 15px;
    }
    i{
      font-size: 1.5em;
      margin-right: 10px;
    }
  }
  .footer-last{
    height: 30px;
    color: $main_red;
    span{
      margin: 0 15px;
      line-height: 30px;
    }
  }
}

@media (max-width: $xs-width) {
  .my_cards{
    .col-xs-6:nth-child(2n){
      padding-left: 7px;
    }
    .col-xs-6:nth-child(2n+1){
      padding-right: 7px;
    }
  }
  .footer{
    .col-md-3:nth-child(1){
      margin-left:0%;
      border-bottom: 1px ;
    }
    .col-md-3:nth-child(2){
      border-left:none;
      border-right:none;
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
      margin: 15px;
      padding-top: 15px;
    }
    .col-md-3:nth-child(3){
      margin-top: 15px;
    }
    .col-md-12:nth-child(2){
      border-top: 1px solid #FFFFFF;
      margin-top: 15px;
      padding-top: 15px;
    }
  }
}
