.restaurants_show{
  .banner {
    height: 350px;
    @extend .background_img_setting;
  }
  .cart_icon_red,.cert_icon_red{
    font-size: 30px;
  }
  .moto_icon_red{
    font-size: 40px;
  }
  .fa-map-marker{
    font-size: 28px;
  }
  .fa-list{
    font-size: 40px;
  }
  [class^=show_rated]{
    font-size: 24px;
  }
  [name=img_background_white]{
    bottom:-60px;
    position: absolute;
    width: 100%;
  }
  [name=location_map]{
    height: 100%;
  }
  #advance_tab,#today_tab{
    width:calc( 100% + 20px );
    position: relative;
    &.red:after{
      @extend .background_red;
      content: ' ';
      display: inline-block;
      width: 220px;
      height: 10px;
      left: 50%;
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  #today_tab{
    margin-left: -15px;
  }
  #advance_tab{
    margin-left: -5px;
  }
  .location_map h4{
    line-height: 25px;
  }
  .restaurant_infos{

  }
}
@media (max-width: $screen-sm-max) {
  .restaurants_show{
    h2{
      font-size: 30px;
    }
    .banner {
      height: 270px;
    }
    .basic_bg_top .social_buttons{
      button{
        margin:0 -2px;
        width: 80px;
        height: 50px;
        @include border_radius(0);
      }
      button:first-child{
        @include border-radius-(bottom, left ,5px);
      }
      button:nth-child(2){
        border-left:1px solid white;
      }
      button:last-child{
        border-left:1px solid white;
        @include border-radius-(bottom, right ,5px);
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .restaurants_show {
    .banner {
      height: 190px;
    }
    h4{
      font-size: 16px;
      line-height: 22px;
    }
    [name=img_background_white]{
      bottom: -110px;
      position: absolute;
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
    }
    [name=location_map]{
      height: 715px;
      width:calc(100% + 40px);
      margin-left: -20px;
      margin-top: 30px;
    }
    .basic_bg_top .social_buttons{
      margin-left: -8px;
      width: calc(100% + 11px);
      padding: 0;
      button{
        width: 50%;
      }
      button:first-child{
        @include border-radius-(bottom, left ,0);
      }
      button:last-child{
        border-left:1px solid white;
        @include border-radius-(bottom, right ,0);
      }
    }
    #today_tab,#advance_tab{
      padding: 15px 10px;
      h1{
        font-size: 18px;
      }
      &.red:after{
        width: 140px;
      }
    }
  }
}