.user_img_header{
  position: relative;
  &:before{
    content:'Edit Profile';
    background-color: rgba(0, 0, 0, 0.65);
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: -130px;
    @include transition(all 0.5s);
    color: white;
    text-align: center;
    padding-top: 45px;
    font-size: 20px;
  }
  &:hover{
    &:before{
      bottom: -10px;
    }
  }
}
.users_edit{
  .ui.form{
    .field{
      label{
        font-size: 14px;
        margin-bottom: 10px !important;
      }
      input,select,.ui.dropdown{
        margin-bottom: 20px !important;
      }
    }
  }
  .checkbox_warpper{
    @extend .df;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .field{
      @include calc(width,'100% / 6');
    }
    .ui.checkbox input:checked ~ .box:after, .ui.checkbox input:checked ~ label:after{
      @extend .red;
    }
  }
  .social_media{
    .ig_square_icon_red{
      font-size: 40px;
    }
    a{
      @extend .flex_vertical_center;
    }
    p{
      font-size: 16px;
      margin-bottom: 0;
    }
    i{
      @extend .red;
      font-size: 45px;
    }
  }
}
[class*=users_]{
  .user_img{
    width: 260px;
    height: 260px;
    margin: auto;
  }
  .basic_bg_top{
    a[class*=_btn],a[class*=_btn_reserve]{
      height:100px ;
      padding-top: 15px;
      &:hover{
        color: inherit;
      }
    }
  }
  .basic_bg{
    a[class*=_btn],a[class*=_btn_reserve]{
      height: 50px;
      line-height: 50px;
      &:hover{
        @extend .red;
      }
      &:focus{
        @extend .white;
      }
    }
  }
}
.my_purchase_lists .background_img_setting{
  padding-top: 25%;
}
.users_my_purchase{
  h4{
    font-size: 16px;
  }
}
.users_big_bun{
  .my_btn_reserve{
    width: 160px;
    height: 60px;
  }
}
@media (max-width: $screen-md-max){
  .users_edit{
    .checkbox_warpper{
      .field{
        @include calc(width,'100% / 3');
      }
    }
  }
}
@media (max-width: $screen-sm-max){
  .users_edit{
    .checkbox_warpper{
      .field{
        @include calc(width,'100% / 2');
      }
    }
  }
  .users_big_bun{
    .my_purchase_lists{
      .background_img_setting{
        padding-top: 30%;
      }
    }
  }
}
@media (max-width: $screen-xs-max){
  button[name=unlike]{
    margin-top: 30px;
  }
  .my_purchase_lists{
    .background_img_setting{
      padding-top: 30%;
    }
  }
  .users_big_bun{
    .my_purchase_lists{
      .background_img_setting{
        padding-top: 50%;
      }
    }
  }
}