.user_img_upload{
  margin: 0 auto;
  label{
    margin: auto;
    display: block;
    width: 260px;
    height: 260px;
    background-color: #D8D8D8;
    @extend .background_img_setting;
    @extend .cursor_pointer;
    @extend .db;
    @extend .pt100;
    @extend .tac;
    @extend .border_main_radius;
    transition: all 0.5s ease;
    &.hover{
      h4,i{
        display: none;
      }
    }
    &.hover:hover{
      opacity: 0.9;
      h4,i{
        display: block;
      }
    }
  }
}
.users_edit{
  .field{
    label{
      margin-bottom: 10px !important;
    }
    input,select,.ui.dropdown{
      margin-bottom: 20px !important;
    }
  }
  .checkbox_warpper{
    @extend .df;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .field{
      width:calc( 100% / 6);
    }
    .ui.checkbox input:checked ~ .box:after, .ui.checkbox input:checked ~ label:after{
      @extend .red;
    }
  }
  .social_media{
    .ig_square_icon_red{
      font-size: 40px;
    }
    a{
      @extend .flex_vertical_center;
    }
    p{
      font-size: 16px;
      margin-bottom: 0;
    }
    i{
      @extend .red;
      font-size: 45px;
    }
  }
}
@media (max-width: $screen-md-max){
  .users_edit{
    .checkbox_warpper{
      .field{
        width:calc( 100% / 3);
      }
    }
  }
}
@media (max-width: $screen-sm-max){
  .users_edit{
    .checkbox_warpper{
      .field{
        width:calc( 100% / 2);
      }
    }
  }
}