.banner {
  min-height: 400px;
  background-color: #CCCCCC;
  .title {
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    h1 {
      font-weight: bold;
    }
    h3 {
      font-weight: lighter;
    }
  }
  .search_wrap {
    margin: 50px auto ;
    max-width: 460px;
    .ui.dropdown {
      width: 200px !important;
      height: 46px;
      display: inline-block;
      .dropdown.icon,.text{
        line-height: 27px;
      }
      .item{
        background-color: $main_red;
        color: #FFFFFF;
        border: none;
      }
      .default.text{
        color: $main_black;
        font-weight: bold;
      }
    }
    .ui.button {
      width: 45px;
      height: 45px;
      background-color: $main_red;
      padding: 0;
      float: right;
      i {
        color: #FFFFFF;
      }
    }
  }
}

.filters {
  margin-top: 15px;
  .ui.button{
    background-color: transparent;
    font-size: 1.5rem;
  }
  i {
    color: $main_red;
  }
}
.card_hover_link{
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  background-color: rgba(255,255,255,0.4);
  .fa-heart{
    float: left;
  }
  .fa-external-link{
    float: right;
  }
  i.fa{
    margin: 0 15px;
    font-size: 40px;
    line-height: 55px;
  }
  .some-wrapping-div{
    .ui.button{
      padding: 0;
      font-family: FontAwesome;
      background-color: transparent;
    }
  }
  .ui.custom.popup{
    background-color: $main_red;
    i{
      @include square-icon(40px);
      font-size: 20px;
      padding-left: 10px;
      margin: 0 5px;
    }
  }
}
.ui.top.popup:before{
  background-color: $main_red;
}
.ui.popup{
  padding: 10px 5px;
  border-color: $main_red;
}

.load_more {
  button.ui.button.my_btn {
    margin: 15px auto;
    width: 180px;
    height: 50px;
  }
}


@media (max-width: $xs-width){
  .banner{
    .search_wrap {
      .ui.dropdown {
        display: block;
        margin: auto auto 15px;

      }
      .ui.button {
        margin: auto;
        display: block;
        float: none;
        margin: 7px auto;
      }
    }
  }
}
