<div class="add_to_cart">
  <h3 class="dib"><i class="cart_icon_white"></i><span>$21.00</span></h3>
  <button>NEXT</button>
</div>
<style>
  .footer{
    display: none;
  }
  .load_more{
    margin-bottom: 100px;
  }
</style>