<div class="ui small modal background_red" id="auth_link_modal">
  <button class="ui button my_btn bold login">
    Log in
  </button>
  <h2 class="tac bold">or</h2>
  <button class="ui button my_btn bold sign_up">
    Join us & Check out
  </button>
</div>
