<div class="ui modal bigbun_modal">
  <i class="close icon"></i>
  <h4 class="bold">Congratulation!</h4>
  <i class="gray_line"></i>
  <div class="description">
    <h4>You got a free bowl of egg drop soup!</h4>
    <h4 class="bold red">Code: 12345</h4>
    <div class="image">
      <%= image_tag 'tmp/soup.png' %>
    </div>
  </div>
  <div class="action_bottons">
    <button class="ui button my_btn">
      Redeem now
    </button>
    <button class="ui button my_btn_reserve">
      Use later
    </button>
    <button class="ui button my_btn">
      Send as gift
    </button>
  </div>
</div>
