<div class="row df_sm mb20">
  <div class="col-sm-6 col-xs-12 list_status_carousel">
    <%= render 'common/product_carousel',index:index %>
  </div>
  <div class="col-sm-6 col-xs-12 pl100_md pl60_sm list_status_info">
    <div>
      <h3 class="mt15 mt5_sm">Seasonal Pumpkin Soup</h3>
    </div>
    <div>
      <h3 class="red">$7.00/ Bowl</h3>
    </div>
    <div>
      <%= render 'common/spinner', qty: 1 ,index:index %>
    </div>
    <div>
      <h4 class="blck normal">2 Left <i class="l_line"></i> 12 Ordered</h4>
    </div>
    <div>
      <h4 class="black mt25 mb25">Ingredients: <p class="mt10">Pumpkin, spice, cream, herb</p>
      </h4>
    </div>
    <div class="hidden-sm">
      <i class="fa fa-heart red mr25 mt20_sm" aria-hidden="true" name="heart"></i><i class="share_icon_red" name="shard"></i>
      <a href="" class="gray flr mt0_sm mt15_md"><h4>More...</h4></a>
    </div>
  </div>
</div>
<div class="row list_status_social_link">
  <div class="col-xs-6 visible-sm tar">
    <i class="fa fa-heart red mr25" aria-hidden="true" name="heart"></i><i class="share_icon_red" name="shard"></i>
  </div>
  <div class="col-xs-6 visible-sm">
    <a href="" class="gray flr"><h4>More...</h4></a>
  </div>
</div>