<div class="footer">
  <div class="footer-first">
    <div class="col-md-3">
      <p>CONTACT</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i>hello@gmail.com</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i>601-123-456</p>
    </div>
    <div class="col-md-3">
      <%= link_to 'ABOUT' ,{} %>
      <%= link_to 'BECOME A CHEF' ,{} %>
      <%= link_to 'LOG IN' ,{} %>
      <%= link_to 'SIGN UP' ,{} %>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">
        <p><i class="fa fa-globe" aria-hidden="true"></i>中文</p>
      </div>
      <div class="col-md-12">
        <p>Follow us on</p>
      </div>
      <div class="col-md-12">
        <i class="fa fa-facebook square-icon" aria-hidden="true"></i>
        <i class="fa fa-twitter square-icon" aria-hidden="true"></i>
        <i class="fa fa-google-plus square-icon" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="footer-last">
    <span>&copy; Homeaste2016</span><span>Terms</span><span>Privacy</span>
  </div>
</div>